@import "src/app/styles/main/scss-variables";
@import "src/app/styles/mixins";

.catalogCard {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  color: var(--cl-text);
  background-color: var(--cl-panel-light);
  border: 2px solid var(--cl-panel-light);
  transition: transform var(--bezier) 0.5s, color 0.3s, background-color 0.3s, border-color 0.3s;

  &[href]:hover {
    transform: scale(1.05);
  }

  &__image {
    position: relative;
    aspect-ratio: 1 / 1;

    @media (max-width: $xl) {
      aspect-ratio: 3 / 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;

    @media (max-width: $xl) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width: $md) {
      font-size: 18px;
    }

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__desc {
    color: $cl-gray;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }

  &__price {
    margin-top: auto;
    color: $cl-red;
  }
}