@import "src/app/styles/root/scss-variables";
@import "src/app/styles/mixins";

.header {
  padding: 12px 0;
  color: $cl-white;
  background-color: $cl-gray-dark;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  a {
    color: inherit;
  }
}