*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}