@import "src/app/styles/root/scss-variables";
@import "src/app/styles/mixins";

.navLink {
  font-size: 18px;
  line-height: 24px;
  padding: 4px 12px;
  border-radius: 14px;
  transition: background-color 0.3s;

  @media (max-width: $sm) {
    font-size: 16px;
    padding: 0 8px;
  }

  &:hover {
    background-color: $cl-gray;
  }
}