// Цветовая палитра
$cl-white: #ffffff;
$cl-black: #000000;
$cl-orange: #ECAD4F;
$cl-light: #F5F5F5;
$cl-red: #C11E25;
$cl-gray: #8A8C9D;
$cl-gray-dark: #333544;
$cl-gray-black: #0d0e12;

// Контрольные точки
$xs: 400px;
$sm: 576px; // mobile
$md: 768px; 
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;