@import "src/app/styles/main/scss-variables";
@import "src/app/styles/mixins";

.catalogGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: $lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $sm) {
    gap: 8px;
  }

  @media (max-width: $xs) {
    grid-template-columns: 1fr;
  }
}